<% provide(:title, 'About Us') %>
<div class="center hero-unit">

<%= link_to image_tag("tour_of_tauranga_logo.gif", alt: "BOPMS"), 'http://bopms.co.nz/' %><h7>About Us</h7>
  <h7>
	The Tour of Tauranga is an annual event to raise funds for <br>
	<a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a><br>
  </h7>

	<div class="row">
		
		
			<h21>For all enquiries, please contact:</h21>
			<address>
			<strong>BOP MS SOCIETY</strong><br>
			TAURANGA<br>
			Rachelle - 021 255 2733<br>
			Pat - 021 482 643<br>
			<br>
			<h21>Email: <a href="mailto:touroftauranga@gmail.com">touroftauranga@gmail.com</a>
			</address></h21>
			<h21>Website by Greg Standring <a href="mailto:standringg@gmail.com">standringg@gmail.com</a></h21><br><h21> Many thanks to <a href="http://littlegiant.co.nz/">Little Giant</a> Digital Design for graphics used on this site. </h21>
	</div>

 