<% provide(:title, 'Course') %>
<div class="center hero-unit">
<h1>Tour of Tauranga</h1>
<br>
<h7>
   Welcome to our course page for the 
   premiere fundraising event for<br>
   <a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</h7>

 <h1>  <%= image_tag("route-map.gif", alt: "Tour of Tauranga Route Map")%>
 </h1>




