<% provide(:title, 'Course') %>

<h1>Tour of Tauranga Course</h1>

<h2>
   Welcome to our course page for the 
   premierre fundraising event for </z><br> 
   <a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</h2>

 <h1>  <%= image_tag  "http://maps.googleapis.com/maps/api/staticmap?center=Brookfield,Tauranga,NZ&zoom=13&size=2048x2048&maptype=roadmap"%>
 </h1>
</div>

