<% provide(:title, 'Course') %>

<h1>Course</h1>
<p>
   Welcome to our course page for the 
   premierre fundraising event for the 
   <a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a>
</p>
