<% provide(:title, 'Event Details') %>

<h1>Event Details</h1>
<p>
   Welcome to our Event Details page for the 
   premierre fundraising event for the 
   <a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a>
</p>
