<% provide(:title, 'Event Details') %>
<div class="center hero-unit">
<h1>Event Details</h1><br>
<h7>
Welcome to the Tour of Tauranga Event Details page.
</h7>
 
      <p>Enjoy a scenic ride around Tauranga&rsquo;s great cycleways, explore the quiet parks and lovely waterways. Get out on your bikes this spring for a leisurely 25km (or 10km) bike ride. The course is unique, safe, and guaranteed to be enjoyed, with <a href="<?php echo base_url(); ?>index.php/prizes">great spot prizes to be won</a>, all in support of the BOP Multiple Sclerosis Society.</p>
      <p class="mb20"><small>PLEASE NOTE: Suitable for mountain bikes and commuter bikes. Sorry not suitable for road bikes.</small></p>
      <p>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.touroftauranga.co.nz&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=80&amp;appId=412659185421408" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
      </p>
   
