<div class="center hero-unit">
  
<%= link_to image_tag("tour_of_tauranga_logo.gif", alt: "BOPMS"), 'http://bopms.co.nz/' %><h1>Tour of Tauranga</h1>
  <h2>
	Welcome to our home page for the Tour of Tauranga which is the
	Premiere fundraising event for <br> 
	<a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a>
  </h2>
  <%= link_to "Register now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("msbop.png", alt: "BOPMS"), 'http://bopms.co.nz/' %>