<div class="center jumbotrom">
  <%= image_tag("tour_of_tauranga_logo.gif", alt: "BOPMS") %>
  <h7><br><br>
	Welcome to our home page for the Tour of Tauranga, <br>the
	premiere fundraising event for <br>
	<a href="http://bopms.co.nz/">Bay of Plenty Multiple Sclerosis Society (BOPMS)</a>
  </h7><br><br>
  
  

<h7>Event Date: Sunday 9 November 2014 <br>
	Registration 7.30-8.30am / Start 9am <br>at Herries Park, downtown Tauranga on the Strand</h7>
	<br><br>
	<%= link_to image_tag("herries_park.jpg", alt: "BOPMS"), 'http://bopms.co.nz/' %>
	<br><br>
	
	
	<h8>Tips for the Day<br><br>Bring a drink and snacks, there are plenty of rest stops along the way <br>Dress for the weather - bring a warm layer <br>Bring a camera <br>Bring your family and friends and have some fun!</h8><br><br>
    
    <rb>
	Register before the 7th of October and you will be in the draw to win a Xmas camp fitness <br>package from <a><%= link_to "Life Personal Fitness", "http://www.lifepersonalfitness.co.nz", :target =>"_blank"%></a> valued at $350!</rb>
	
	<h2><% if signed_in? && current_user.admin? %>
  <%= link_to "Register now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %></h2>
	
	
	
	
	

