<footer class="footer">
  <small>
    <a><%= link_to image_tag("msbop.png", alt: "BOPMS"), 'http://bopms.co.nz/' %></a>
  </small>
  <br>
  <ul>
  	<li>
      <%= link_to "About",   about_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	</li>
  </ul>
  <br>
    <copyright>
      <p1>Copyright 2014. BOP MS Society. All rights reserved.</P1>
    </copyright>
 </footer>    


